
#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center
}

#italico{
    font-size: 20px
}

em strong {
    color: rgb(207, 18, 18)
}

.itens{
    font-style:italic
}

.cortes{
    background: #FFFFFF;
    padding: 20px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.banner1{
    width: 50%;
}